<?xml version="1.0" encoding="utf-8"?>
<Window size="800, 600" minifo="600, 400" caption="0, 0, 0, 32" sizebox="4,4,4,4">
	<Default name="Button" value="  height=&quot;25&quot; width=&quot;60&quot; normalimage=&quot;file=&apos;button_nor.bmp&apos;&quot; hotimage=&quot;file=&apos;button_Hot.png&apos;&quot; pushedimage=&quot;file=&apos;button_down.bmp&apos;&quot; focusedimage=&quot;file=&apos;button_over.bmp&apos;&quot; " />
	<VerticalLayout bkcolor="#FFF0F0F0" >
		<!-- 标题栏 -->
		<HorizontalLayout height="32" bkcolor="#FF000000">
			<VerticalLayout />
			<HorizontalLayout width="77">
				<!-- 右边按钮 -->
				<Button name="minbtn"   float="true" pos="0,5,0,0"  height="19" width="23"  normalimage="file='button_down.bmp'" hotimage="file='button_down.bpm'" pushedimage="file='button_down.bmp'" />
				<Button name="maxbtn" float="true" pos="22,5,0,0" height="19" width="23" normalimage="file='button_down.bmp'" hotimage="file='button_down.bpm'" pushedimage="file='button_down.bmp'" />
				<Button name="restorebtn" float="true" pos="22,5,0,0" height="19" width="23" normalimage="file='button_down.bmp'" hotimage="file='button_down.bpm'" pushedimage="file='button_down.bmp'" />
				<Button name="closebtn" float="true" pos="44,5,0,0" height="19" width="28" normalimage="file='button_Non.png'" hotimage="file='button_Hot.png'" pushedimage="file='button_down.bmp'" />
			</HorizontalLayout>		
		</HorizontalLayout>

		<!-- client区 -->
		<VerticalLayout>
			<Button name="switchA" height="24" width="75" text="Normal" />
			<Button name="switchB" height="24" width="75"  text="Over" />
			<Button name="switchC" height="24" width="75" normalimage="file='button_Non.png'" text="Nonthing" />
			<Progress name="progress1" text="Progress" width="200" height="30" foreimage="button_down.bmp" min="0" max="100" value="80" hor="true" align="center"/>
			<Slider name="slider1" text="slider" width="200" height="30" />

			<HorizontalLayout>
				<!-- 列表 -->
				<List name="list1" width="200" height="400" header="hidden" bkcolor="#FFFFFFFF" itemtextcolor="#FF000000" itembkcolor="#FFE2DDDF" itemselectedtextcolot="#FF000000" itemselectedbkcolor="#FFC1E3FF" itemhottextcolor="#FF000000" itemhotbkcolor="#FFE9F5FF" itemdisabledtextcolor="#FFCCCCCC" itemdisabledbkcolor="#FFFFFFFF">
					<ListHeader name="domain" width="200" bkimage="List/list_header_bg.png">
	                    <ListHeaderItem text="序号" width="200" height="23" minwidth="16"  sepwidth="1" align="center" hotimage="List/list_header_hot.png" pushedimage="List/list_header_pushed.png" sepimage="List/list_header_sep.png" />
	                </ListHeader>
					<ListLabelElement text="推荐" selected="true" height="50" />
					<ListLabelElement text="排行榜" height="50" />
					<ListLabelElement text="歌单" height="50" />
					<Button name="openBrowser" height="30" width="75" text="打开浏览器" />
				</List>				

				<VerticalLayout>
					<HorizontalLayout height="30">
						<Option name="Option1" text="Option1" width="60" height="30" bkcolor="#FFC5D4F2" selectedtextcolor="#FF0000FF" selectedbkcolor="#FFC5D4F2" group="tabDemo" selected="true" />
						<Option name="Option2" text="Option2" width="60" height="30" bkcolor="#FFFFDC78" group="tabDemo" />
						<Option name="Option3" text="Option3" width="60" height="30" bkcolor="#FFBECEA1" group="tabDemo" />
					</HorizontalLayout>
					<TabLayout name="tablayout" bkcolor="#FF757676" width="600" height="200">
						<HorizontalLayout>
							<Label text="Option1" bkcolor="#FFC5D4F2" align="center" />
						</HorizontalLayout>
						<Text  text="Option2" bkcolor="#FFFFDC78" align="centerwrap" height="200" />
						<Button  text="Option3" bkcolor="#FFBECEA1" align="center" height="200" width="600" />
					</TabLayout>
					<VerticalLayout />
				</VerticalLayout>
			</HorizontalLayout>

		</VerticalLayout>
	</VerticalLayout>
</Window>